<!DOCTYPE html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jerry Jei-Rui Bao</title>

    <!-- Google Fonts API: Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- Portfolio CSS -->
    <link rel="stylesheet" href="{% static "portfolio/css/styles.css" %}">
    <link rel="stylesheet" href="{% static "portfolio/css/index.css" %}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "portfolio/images/favicon.ico" %}"/>
</head>
<body>
    <div class="header">
        <div class="header-big">
            <img src="{% static "portfolio/images/jerrybao.png" %}" id="jerrybao">
            <div class="header-title-big">
                <h1 class="title">Jerry Jei-Rui Bao</h1>
                <h5 class="title">Student @ University of California, Berkeley</h5>
                <h5 class="title">Computer Science, B.A.</h5>
                <br />
                <a class="header-link" href="https://www.dropbox.com/s/sn728i6k2qvzzq2/JerryBao-Resume.pdf?dl=0" target="_blank">Resume</a> - <a class="header-link" href="https://www.github.com/thejerrybao" target="_blank">GitHub</a> - <a class="header-link" href="https://www.linkedin.com/in/thejerrybao" target="_blank">LinkedIn</a>
            </div>
        </div>
        <div class="header-small">
            <img src="{% static "portfolio/images/jerrybao.png" %}" id="jerrybao">
            <div class="header-title-small">
                <h3 class="title">Jerry Jei-Rui Bao</h3>
                <p class="title">Computer Science, B.A.</p>
            </div>
            <div class="header-link-small">
                <a class="header-link" href="https://www.dropbox.com/s/sn728i6k2qvzzq2/JerryBao-Resume.pdf?dl=0" target="_blank">Resume</a> - <a class="header-link" href="https://www.github.com/thejerrybao" target="_blank">GitHub</a> - <a class="header-link" href="https://www.linkedin.com/in/thejerrybao" target="_blank">LinkedIn</a><br/>
                {% now "F jS, Y" %}
            </div>
        </div>
    </div>
    <div class="main-page">
        <div class="row">
            <nav class="col-xs-3 bs-docs-sidebar">
                <ul id="sidebar" class="nav nav-stacked fixed main-page-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <div class="col-xs-9 main-page-content">
                <div class="anchor-offset" id="about">
                    <h3 class="title">About</h3><hr>
                    <p>Hi, I'm Jerry Bao, a senior at the University of California, Berkeley studying Computer Science. I'm an avid learner and self-starter; I like to work on projects that interest me in my spare time, which you can find in the Projects section. Currently I'm looking for a full time position in Software Engineering. If you have any questions or want to get in contact with me, feel free to shoot me an email! This website is currently still under construction. Enjoy your stay!</p>
                </div>
                <div class="anchor-offset" id="education">
                    <h3 class="title">Education</h3><hr>
                    <h4 class="title">University of California, Berkeley</h4>
                    <span class="italic">Computer Science, B.A</span><br/>
                    August 2013 - expected May 2015<br/>
                    <p class="indent">
                        CS 161: Computer Security<br/>
                        CS 169: Software Engineering<br/>
                        CS 170: Algorithms<br/>
                        CS 188: Introduction to Artificial Intelligence<br/>
                        CS 162 (In Progress Spring 2015): Operating Systems and System Programming<br/>
                        CS 189 (In Progress Spring 2015): Introduction to Machine Learning<br/>
                        CS 61A: Structure and Interpretation of Computer Programs<br/>
                        CS 70: Discrete Math and Probability Theory<br/>
                    </p>
                    <h4 class="title">Diablo Valley College</h4>
                    <span class="italic">Computer Science Transfer</span><br/>
                    2010 - 2013<br/>
                    <p class="indent">
                        COMSC 260: Assembly Language Programming/Computer Organization<br/>
                        COMSC 210: Program Design and Data Structures<br/>
                        COMSC 200: Object Oriented Programming C++<br/>
                    </p>
                </div>
                <div class="anchor-offset" id="projects">
                    <h3 class="title">Projects</h3><hr>
                    <h4 class="title">Caravan Party: Caravan Tracking App [<a href="https://github.com/thejerrybao/CaravanParty" target="_blank">repo</a>]</h4>
                    <span class="italic">Ruby on Rails, Android, Google Maps API</span>
                    <p class="indent">Designed an application for Android that tracks multiple cars (caravans) going to the same destination and relays their location in real-time to all caravans. Cars were routed toward the destination set by the host caravan using the Google Maps API. Included a basic friend system so that friends can invite each other to the caravan. Team project for Software Engineering (CS 169).</p>
                    <h4 class="title">Cirrus: Bill Splitter [<a href="https://github.com/thejerrybao/Cirrus" target="_blank">repo</a>]</h4>
                    <span class="italic">Python (Django), Venmo API, SQL</span>
                    <p class="indent">Built an app that easily lets parties split restaurant bills using Venmo. Allows the person paying for the bill for everyone to mass charge users with Venmo using the Venmo API.</p>
                    <h4 class="title">Nimbus: Club Management System [<a href="https://github.com/thejerrybao/Nimbus" target="_blank">repo</a>]</h4>
                    <span class="italic">PHP, JavaScript, SQL</span>
                    <p class="indent">Wrote over 5000 lines of code to create a system that manages the club’s day-to-day operations. Management system that allows for clubs to manage their events, members, committees, blog posts, and statistics.</p>
                    <h4 class="title">Stratus: Resource Database [<a href="https://github.com/thejerrybao/Stratus" target="_blank">repo</a>] [<a href="http://resources.cnhcirclek.org" target="_blank">live</a>]</h4>
                    <span class="italic">PHP, JavaScript, SQL</span>
                    <p class="indent">Incorporated an instant search to allow for search results to be displayed as the user is searching for files. File storage system that allows users with access to upload files to the resource database for others to access on the web. Current live version of the database has been reworked and implemented into a new site.</p>
                </div>
                <div class="anchor-offset" id="experience">
                    <h3 class="title">Experience</h3><hr>
                    <h4 class="title">UC Berkeley, CS61A</h4>
                    <span class="italic">Lab Assistant</span><br/>
                    Fall 2014, Spring 2015<br/>
                    Berkeley, CA<br/>
                    <p class="indent">Assist Teaching Assistants (TA) in lab and office hours by answering any questions students may have about the class, Python, or programming in general. Dedicated 3 hours a week to ensuring students understood the material and provided tutoring when needed.</p>
                    <h4 class="title">Circle K International, California-Nevada-Hawaii (CNH) District</h4>
                    <span class="italic">District Technology Chair</span><br/>
                    April 2013 - March 2014<br/>
                    Rancho Cucamonga, CA<br/>
                    <p class="indent">Re-designed the district website (www.cnhcirclek.org) and the CNH Resource Database (resources.cnhcirclek.org). Lead a Public Relations Committee of 10 members from all over California, Nevada, and Hawaii to publicize district events and provide resources to clubs within the areas of publicity and technology. Served alongside 20 other members on the District Board to achieve our goals of improving our district through its three tenets of service, leadership, and fellowship.</p>
                    <h4 class="title">SYNQY Corporation</h4>
                    <span class="italic">Software Engineer Intern</span><br/>
                    January 2013 - May 2013<br/>
                    Pleasant Hill, CA<br/>
                    <p class="indent">Developed a slideshow gallery with thumbnails in a modal that displayed content such as websites and images using PHP and JQuery. Implemented a drag and drop file uploading system. Assisted in the development of the SYNQY such as language choice and other design requirements. Assisted the Chief Technology Officer in miscellaneous engineering tasks.</p>
                    <h4 class="title">Sequioa Technologies IMS</h4>
                    <span class="italic">Software Engineer Intern</span><br/>
                    July 2012 - August 2012<br/>
                    Pleasant Hill, CA<br/>
                    <p class="indent">Re-designed the backend platform from which new websites are created. Deployed websites on a multitenant platform. Created proof of concept applications in PHP.</p>
                </div>
                <div class="anchor-offset" id="contact">
                    <h3 class="title">Contact</h3><hr>
                    <p>Looking to get in contact with me? Here's my profiles below!
                        
                        <p class="indent">E-mail: <script language="javascript" type="text/javascript">var pre = "jbao";document.write("<a href='mailto:" + pre + "@berkeley.edu'>" + pre + "@berkeley.edu</a>");</script><noscript>Enable JavaScript to see my email.</noscript><br />
                        <a href="https://www.linkedin.com/in/thejerrybao">LinkedIn</a></p>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2015 Jerry Bao<br />jerrybao.com GitHub Repo</p>
        </div>
    </div>

    <!-- jQuery v2.1.3 -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- Portfolio JS -->
    <script src="{% static "portfolio/js/scripts.js" %}"></script>
</body>
</html>