/* header */
div.header {
    width: 100%;
    height: 210px;
    background-color: #303E4D;
    display: block;
    white-space: nowrap;
}

div.header-big, div.header-small {
    width: 100%;
    padding: 0 15%;
}

/* header titles */
div.header-title-big, div.header-title-small {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
}

div.header-link-small {
    color: #ffffff;
    float: right;
    padding-top: 25px;
    font-size: 11px;
    text-align: center;
    top: -100px;
}

/* header when its small */
div.header-small {
    position: fixed;
    top: -100px;
}

/* header links */
a.header-link {
    color: #ffffff;
    text-decoration: underline;
}

/* header-big image of myself */
div.header-big > img#jerrybao {
    height: 210px;
    padding: 25px;
    vertical-align: middle;
    display: inline-block;
}

/* header-small image of myself */
div.header-small > img#jerrybao {
    height: 85px;
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
}

/* main page not including header */
div.main-page {
    margin: 20px 15%;
    position: absolute;
    z-index: -1;
}

/* heading titles */
h1.title {
    margin: 0 0 10px 0;
}

h3.title {
    margin: 0 0 2px 0;
}

h4.title, h5.title {
    margin: 0;
}

p.title {
    margin: 0;
    font-size: 11px;
}

/* indent */
p.indent {
    margin: 10px 0 10px 25px;
    padding-left: 10px;
    border-left: 2px solid #303E4D;
}

/* italics */
.italic {
    font-style: italic;
}

/* offset the anchor tags */
div.anchor-offset {
    margin-top: -105px;
    padding-top: 105px;
    margin-bottom: 25px;
}

/* footer */
div.footer {
    text-align: center;
    font-size: 10px;
    margin-bottom: 200px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 10px 20px;
    font-size: 13px;
}

.nav-stacked>li+li {
    margin-top: 0px;
    margin-left: 0px;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #303E4D;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #303E4D; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: bold;
}

/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}